[submodule "mkdocs-material"]
	path = src/mkdocs-material
	url = https://github.com/Mauwii/mkdocs-material.git
[submodule "webapp"]
	path = src/webapp
	url = https://github.com/Mauwii/msdocs-python-django-webapp-quickstart.git
[submodule "pulumi"]
	path = src/pulumi
	url = https://github.com/pulumi/examples.git
